@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');

.header-toolbar {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  background-color: #2C2C2C;
  border-radius: 20px;
  width: 98%;
  margin: 0.8rem;
}

.menu-button {
  margin-right: 20px;
}

.logo {
  display: flex;
  align-items: center;
  font-family: "Passion One", sans-serif;
  font-weight: bold;
  font-size: 2rem;
  color: #F2F2F2;
}

.logo mat-icon {
  margin-right: 0.8rem;
  font-size: 1.6rem;
}

