<mat-toolbar color="primary" class="header-toolbar">
  <span class="logo">
    <mat-icon>library_add_check</mat-icon> Listify
  </span>
  <div>
    <div class="profile">
      @if(profile){
        <button mat-button [matMenuTriggerFor]="afterMenu">
          <span style="display: flex; align-items: center;">
            <img class="image-profile" [src]="profile?.picture" alt="{{ profile?.name }}" />
            <div class="info-profile">
              <p class="name-profile">
                <strong>Nome:</strong>
                {{ profile?.name }}
              </p>
              <p class="email-profile">
                <strong>Email:</strong>
                {{ profile.email }}
              </p>
            </div>
            <mat-icon class="icon-profile">arrow_drop_down</mat-icon>
          </span>
        </button>
        <mat-menu #afterMenu="matMenu" xPosition="after">
          <button mat-menu-item (click)="logout()">Sair</button>
        </mat-menu>
      }
    </div>
  </div>
</mat-toolbar>
