.category-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 170px;
  height: 120px;
  text-align: center;
  padding: 10px;
  background-color: white;
  border-radius: 20px;
  transition: transform 0.2s;
  margin: 0rem 0.8rem;
  overflow: hidden;
  border-right: 2px solid #2C2C2C;
  border-bottom: 2px solid #2C2C2C;
}

.category-card:hover {
  transform: scale(1.05);
}

h3 {
  font-size: 1.5rem;
  color: #2C2C2C;
  font-weight: bold;
  text-align: start;
  margin-top: 1.2rem;
}

.icon {
  text-align: end;
  margin-right: -2.5rem;
}

.icon span{
  font-size: 70px;
}

