<h2 mat-dialog-title>Saiba mais sobre o listify</h2>
<mat-dialog-content>
  O Listify é uma aplicação web pensada para facilitar a sua experiência de criar e gerenciar listas de compras de forma prática e rápida. Mais do que apenas um simples gerenciador de itens, o Listify oferece uma interface simples e intuitiva, perfeita para quem gosta de manter tudo organizado de maneira fácil e eficiente!
    <ul>
      <li>Adição Rápida de Itens: Com apenas um campo de texto, você pode adicionar rapidamente os itens à sua lista. Tudo acontece em tempo real, de forma dinâmica e prática!</li>
      <li>Edição Simples:Precisa alterar algo? Sem problemas! Você pode editar qualquer item da lista de maneira direta e fácil, mantendo tudo atualizado.</li>
      <li>Marcar Como Comprado:Ao realizar suas compras, basta marcar os itens como comprados. Eles ganharão uma nova aparência (podem ficar riscados ou mudar de cor), para que você saiba exatamente o que já pegou.</li>
      <li>Organização por Status:Seus itens serão automaticamente organizados em duas categorias: "Comprados" e "Não Comprados", ajudando a manter tudo ainda mais visualmente organizado.</li>
      <li>Exclusão de Itens:Adicionou algo por engano? Com um clique no ícone de lixeira ao lado do item, você pode removê-lo da lista de maneira super simples.</li>
    </ul>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close>Fechar</button>
</mat-dialog-actions>
