@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');

.home-header {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  background-color: #2C2C2C;
}

.logo {
  display: flex;
  align-items: center;
  font-family: "Passion One", sans-serif;
  font-weight: bold;
  font-size: 2rem;
  color: #F2F2F2;
}

button.login-header-button {
  color: #F26671;
}

.hero {
  background-image: url(https://cdn.leonardo.ai/users/e8eff8bb-3849-4d38-830d-dafa87ae0552/generations/ecc207ed-2e5f-4864-817b-1c7ffa12a0f5/AlbedoBase_XL_High_quality_game_character_illustration_chibi_g_0.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  text-align: center;
  padding-top: 9rem;
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: multiply;
}

.hero .home-container {
  position: relative;
}

.hero h1 {
  color: #F2F2F2;
  font-family: "Passion One", sans-serif;
  letter-spacing: 3.75px;
  text-transform: uppercase;
  font-weight: bold;
}

.hero-social-icon {
  display: flex;
  position: absolute;
  left: 100px;
  top: 40px;
  flex-direction: column !important;
  justify-content: flex-start !important;
}

.hero-social-icon mat-icon {
  margin-bottom: 20px;
  margin-left: 45px;
}

mat-icon.custom-icon {
  color: #F26671;
}

.hero-social-icon hr {
  display: block;
  margin-top: 50px;
  opacity: 1;
  color: #F2F2F2;
  width: 110px;
  rotate: 90deg;
}

.center-data  {
  color: #F2F2F2;
  padding: 0px 250px;
}

.center-data p {
  font-size: 1.6rem;
}

.center-data p strong {
  color: #F26671;
}

.home-button button{
  margin-right: 16px;
  color: #F26671;
}

button.login-home-button {
  padding: 1.5rem 2rem;
}

@media (max-width:900px) {
  .center-data p{
    font-size: 1.3rem;
  }
}


@media (max-width:770px) {
  .center-data  {
    padding: 0px 150px;
  }

  .hero-social-icon {
    left: 40px;
  }
}


@media (max-width:560px) {
  .center-data  {
    padding: 0px 100px;
  }

  .center-data p{
    font-size: 1rem;
  }

  .hero-social-icon {
    left: 0;
  }

}
