<header>
  <mat-toolbar class="home-header">
    <span class="logo">
      <mat-icon>library_add_check</mat-icon> Listify
    </span>
    <button mat-raised-button class="login-header-button" (click)="login()">Entrar</button>
  </mat-toolbar>
</header>
<section class="hero">
  <div class="home-container">
    <div>
      <div class="hero-social-icon">
        <mat-icon fontIcon="shopping_cart" class="custom-icon"></mat-icon>
        <mat-icon fontIcon="shopping_bag" class="custom-icon"></mat-icon>
        <mat-icon fontIcon="description" class="custom-icon"></mat-icon>
        <hr>
      </div>
      <div class="center-data">
        <h1>Listify</h1>
        <h6>Acesse sua lista personalizada em qualquer lugar! Acesse no Listify para criar e gerenciar suas listas de compras de forma segura e prática, com todos os seus itens salvos e organizados à sua maneira.</h6>
        <h6>O que está esperando? Faça o <strong>LOGIN</strong> agora!</h6>
        <div class="home-button">
          <button mat-raised-button class="login-home-button" (click)="login()">Entrar</button>
          <button mat-stroked-button>Saiba mais</button>
        </div>
      </div>
    </div>
  </div>
</section>

