<table class="table table-striped">
  <thead>
    <tr>
      <th>Imagem</th>
      <th>Nome</th>
      <th>Categoria</th>
      <th>Quantidade</th>
      <th>Status</th>
      <th>Ações</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <img src="{{ productImage() }}" alt="Grocery Bag" />
      </td>
      <td>{{ productTitle() }}</td>
      <td>{{ productCategory() }}</td>
      <td>{{ productAmount() }}</td>
      <td>{{ productStatus() }}</td>
      <td>
        <button mat-icon-button>
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button>
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </tr>
  </tbody>
</table>
