<mat-card class="banner-card">
  <div class="banner-content">
    <div class="banner-text">
      <h3>Descubra a facilidade de fazer compras</h3>
      <p>Inicie sua experiência de compras agora: clique no botão abaixo para adicionar itens à sua lista de forma rápida e descomplicada!</p>
      <button mat-fab extended class="add-button" (click)="openCreateProduct()">
        <mat-icon>add</mat-icon>
          Adicionar Produtos
      </button>
    </div>
    <div class="banner-image">
      <img src="images/listify-background.png" alt="Grocery Bag" />
    </div>
  </div>
</mat-card>

<div class="category-cards">
@for (product of products; track product.id) {
  <app-category-cards [product]="product"></app-category-cards>
}
</div>

@for (product of products; track product.id) {
  <app-card [product]="product"></app-card>
}
